
<div class="page-content">
    <div>
        {{getStateText()}}
    </div>
    <div *ngIf="isLoginState()">
        <input #loginEmail placeholder="Email">
        <input #loginPassword placeholder="Password" type="password">
        <button (click)="loginUser(loginEmail,loginPassword)">Login</button>
    </div>
    <div *ngIf="isRegisterState()">
    <input type="email" #registerEmail placeholder="Email">
    <input type="password" #registerPassword placeholder="Password">
    <input type="password" #registerConfirmPassword placeholder="Confirm Password">
    <button (click)="registerUser(registerEmail,registerPassword,registerConfirmPassword)">Register</button>
    </div>
    <div *ngIf="isForgotPasword()">
        <input #resetemail placeholder="Email">
        <button (click)="ForgotPassword(resetemail)">Reset</button>
    </div>
    <button (click)="onLogin()">Login</button>
    <button (click)="onRegister()">Register</button>
    <button (click)="onForgotPassword()">Forgot Password</button>
</div>
