.page-content {
    margin-top: 4rem; /* Same as the height of the navbar */
    padding: 1rem; /* Optional: Add padding for content spacing */
}

.news-panel {
    background-color: #2b2d42;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    overflow: hidden; /* Ensure it hides the overflow for smooth scrolling */
    position: relative;
    white-space: nowrap;
    border-radius: 15px;
    border: 2px solid #4c4e50; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.news-ticker {
    display: inline-block;
    animation: scroll 25s linear infinite;
 
}

.news-item {
    display: inline-block;
    background-color: #2b2d42;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 50px;
    border: 2px solid #4c4e50; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.news-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.news-item:hover {
    background-color: #0056b3;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.home-container {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.left-container {
    height: 400px;
    display: flex;
    flex: 1;
    background-color: #2b2d42;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #4c4e50; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    flex-direction: column;
    justify-content: center; /* Center-align content horizontally */
    align-items: flex-start; 
    gap: 10px; /* Add space between elements */
}

.left-container h2 {
    font-size: 32px;
    color: #ffffff;
    margin: 10px 0; 
}

.left-container .subtitle {
    font-size: 18px;
    color: #dddddd;
}

.left-container .logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px; 
}

.cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.right-container {
    flex: 2;
    background-color: #2b2d42;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #4c4e50; 
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #4c4e50; 
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
}
