<div class="chat-icon" (click)="toggleChat()">
    <img src="assets/chat-icon.png" alt="Chat">
  </div>
<div class="page-content">
    <div class="chat-container" [ngClass]="{ 'active': isChatOpen }">
        <div class="chat-history">
          <ng-container *ngFor="let item of chatHistory">
            <div class="chat-message" [ngClass]="{ 'user-message': item.from === 'user', 'bot-message': item.from === 'bot' }">
              <span>{{ item.message }}</span>
            </div>
          </ng-container>
          <div class="chat-message bot-message" *ngIf="loading">
            <img src="assets/animations/loading.gif" alt="Loading" class="loading-gif" />
          </div>
        </div>
        <div class="chat-input">
          <input type="text" id="message-input" placeholder="How can I help you ..." [(ngModel)]="prompt" />
          <button id="send-button"  (click)="sendData()">Send</button>
        </div>
      </div>
</div>

