<nav>
    <div class="wrapper">
      <div class="logo"><a routerLink="home">Logo</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fa fa-bars"></i></label>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="page2">About</a></li>
        <li>
          <a routerLink="home" class="desktop-item">Learning Corner</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Learning Corner</label>
          <ul class="drop-menu">
            <li><a routerLink="scolar-learning">Scholarships</a></li>
            <li><a routerLink="loans-learning">Loans</a></li>
            <li><a routerLink="taxes-learning">Taxes</a></li>
            <li><a routerLink="scams-learning">Scams</a></li>
            <li><a routerLink="credit-learning">Credit</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="showMega">
          <a href="#" class="desktop-item">Mega Menu</a>
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/QuickApp/src/assets/Teaching2.png" alt="">
              </div>
              <div class="row">
                <header>Community</header>
                <ul class="mega-links">
                  <li><a href="#">Explore Posts</a></li>
                  <li><a href="#">Create a Post</a></li>
                  <li><a href="#">Join Forums</a></li>
                  <li><a href="#">Your Discussions</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Opportunities</header>
                <ul class="mega-links">
                  <li><a routerLink="Find-Scholarships">Find Scholarships</a></li>
                  <li><a href="#">Education Grants</a></li>
                  <li><a href="#">Student Loans</a></li>
                  <li><a href="#">Career Resources</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Success Center</header>
                <ul class="mega-links">
                  <li><a href="#">Study Tips</a></li>
                  <li><a href="#">Life Hacks</a></li>
                  <li><a href="#">Time Management</a></li>
                  <li><a href="#">Wellness & Balance</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Feedback</a></li>
        <li class="nav-item">
          <a routerLink="Auth" class="login-button">Login</a>
        </li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>
  
